@font-face{
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3,
h4 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
    font-size: 1.5em;
}
h3 {
	font-size: 1.125em;
}
h4 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 1.3125em;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	border-bottom: solid 3px #77a466;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

header h1 {
	margin: 0;
	padding: 38px 0 10px 0;
	border-bottom: solid 3px #77a466;
}
header h1 span {
	color: #77a466;
}

header nav {

}

header nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	justify-content: space-between;
	flex-flow: column;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	padding: 10px 10px;
	display: flex;
	justify-content: center;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

.main-image {
	height: auto;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.5625em;
}

.section-one,
.section-two,
.section-three {
	width: 90%;
	height: auto;
	border-top: 1px solid #eee;
}

.section-one h4 {
	padding: 10px 0;
}

.section-two p,
.section-three p {
	padding: 0 0;
}

.section-two h4,
.section-three h4 {
	padding: 10px 0;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.3125em;
}

.address {
	font-size: 1em;
	line-height: 1.5em;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

footer span {
	font-family: 'Wisdom Script', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}

/*****Tablet Styles*****/
@media all and (min-width: 768px) {
	bottom-section {
		display: flex;
		align-items: center;
		justify-content: center;
		justify-content: space-between;
		flex-flow: row wrap;
	}

.section-one,
.section-two,
.section-three {
	width: 33%;
	border-bottom: 1px solid #eee;
	height: auto;
}

	.section-one {
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	.section-three {
	}

}

/*****Desktop Styles*****/
@media all and (min-width: 1200px){
}
